<!-- 
  Copyright 2020 Erik Schepers
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->

<p>account-view works!</p>

<table>
    <tr>
        <th>Date</th>
        <th>Balance</th>
        <th>Income</th>
        <th>Expenses</th>
        <th>Profit</th>
        <th>Loss</th>
    </tr>
    <tr *ngFor="let data of combined$ | async">
        <td>{{data[0] | date}}</td>
        <td>{{data[1].balance | number:0}}</td>
        <td>{{data[2].income | number:0}}</td>
        <td>{{data[3].expenses | number:0}}</td>
        <td>{{data[4].profit | number:0}}</td>
        <td>{{data[5].loss | number:0}}</td>
    </tr>
</table>



<!-- <h1>Dates</h1>
<ul *ngFor="let date of dates$ | async">
    <li>{{date | date}}</li>
</ul>

<h1>Income</h1>
<ul *ngFor="let income of income$ | async">
    <li>{{income.date | date}} - € {{income.income | number:0}}</li>
</ul>

<h1>Balances</h1>
<ul *ngFor="let balance of balances$ | async">
    <li>
        {{balance.date | date}} - <span class="badge">€ {{balance.balance | number:0}}</span>
    </li>
</ul> -->
